.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.searchBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
}

.searchImg {
    padding-top: 5px;
    margin-right: 10px;
}

.searchInput {
    width: 90%;
}

.searchCloseImg {
    margin-top: 10px;
    margin-left: -40px;
}

.pointer {
    cursor: pointer;
}